:root{
    --color1: #D89584;
    --color2: #F4F4F4;
}

body{
    margin: 0;
    font-family: arial;
    line-height: 1.5;
}

iframe{
    width: 100%;
    height: 690px;
}

div.center{
    position: relative;
}

div.cover{
    background: url(cover_overlay.png)no-repeat center/100% 100%, url(cover.png) no-repeat center/cover;
    padding-bottom: 80px;
    padding-top: 30px;
    position: relative;
}

div.cover img{
    background-color: lightgrey;
    width: 200px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 50px;
    border-radius: 50%;
    /* margin: 30px; */
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
    /* margin-top: 50px; */
}

div.short_line{
    height: 1px;
    width: 200px;
    position: relative;
    left: 50%;
    /* margin: 0 0 0 -100px; */
    margin-left: -100px;
    background-color: rgba(211, 211, 211, 0.588);
}

div.cover p{
    color: lightgrey;
    text-align: center;
    margin-top: 10px;
}

div.contact_info{
    position: absolute;
    top: 5px;
    left: 5px;
    /* background-color: blue; */
    padding-left: 10px;
    border-left: solid 4px var(--color1); 
}

div.contact_info *, div.contact *{
    color: rgb(216, 213, 213);
    font-size: 13px;
}

#fc{
    display: inline-block;
    margin-bottom: 4px;
}

div.contact_by_wathsapp{
    margin-top: 50px;
    text-align: center;
}

div.contact_by_wathsapp *{
    color: var(--color1);
    border: var(--color1) solid 2px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    background-color: #0c0c0c48;
    font-size: 13px;
    transition-duration: 0.3s;
}

div.contact_by_wathsapp *:hover{
    color: #aeaeae;
    border: #6b6a6a solid 2px;
    font-size: 14px;
}

div.bloc1{
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    margin-top: 0;
    padding: 10px 20px 100px 20px;
}

div.bloc1 *{
    font-size: 18px;
    color: #656565;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.downloader{
    display: inline-block;
    text-align: center;
    padding: 5px 30px;
    border: #D89584 solid 2px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    transition-duration: 0.3s;
}

.downloader:hover{
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border: none;
}

div.bloc2{
    padding: 50px 20px;
}

div.bloc3{
    padding: 150px 20px 0 0px;
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
}

h2{
    font-size: 40px;
    display: inline-block;
    /* text-align: center; */
    font-weight: bold;
    color: #ba3939;
    /* min-width: 280px; */
    border-bottom: solid 4px #ba3939;
    margin-top: -10px;
    /* margin-left: 300px;  juste pour pc */
    /* color: var(--color1) */
}

div.bloc2 h2.for_mobile{
    font-size: 26px;
}


div.bloc2 h2.for_pc{
    /* min-width: 0px; */
    font-size: 0;
}

div.img_topic{
    width: 100%;
    overflow: hidden;
}

div.img_topic .img_contain{
    display: block;
    width: 100%;
    /* background-color: blue; */
}

div.img_topic .topic{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 15px 0px;
    font-size: 16px;
}

.button{
    color: #f1eeee;
    text-decoration: none;
    border: #595858 solid 2px;
    border-radius: 5px;
    background-color: #595858;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold; 
    transition-duration: 0.3s;
}

.button:hover{
    font-size: 16px;
}

div.portfolio{
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 200px;
    margin-top: 50px;
    color: white;
    min-width: 200px;
    /* box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.46); */
    border-radius: 0 10px 10px 0;
}

div.portfolio1{
    background: url(j-togocom.jpg) no-repeat center/cover;
}

div.portfolio_describ{
    text-align: center;
    position: relative;
    background-color: rgba(9, 9, 9, 0.666);
    padding: 40px 40px 80px 40px;
    max-height: 400px;
    min-width: 170px;
    border-bottom: #D89584 solid 5px;
    border-right: #D89584 solid 5px;
    border-radius: 10px;
    /* font-size: 10px; */
}

div.portfolio_describ_right{
    top: 40%;
    left: 10%;
    transition-duration: 1s;
}

div.portfolio_describ_right:hover{
    top: 30%;
    left: 15%;
}

div.portfolio_describ_left{
    top: 35%;
    right: 20%;
}

div.portfolio a{
    color: white;
    text-decoration: none;
    border: white solid 2px;
    padding: 10px 13px;
    background-color: #4d4b4bbf;
    transition-duration: 0.3s;
}

div.portfolio a:hover{
    color: #e9b439;
    border: none;
    border-bottom: #e9b439 solid 4px;
    font-size: 17px;
    background-color: #ffffff00;
}

div.portfolio2, div.portfolio4{
    margin-left: 0;
}

div.portfolio2{
    background: url(Screenshot4.jpg) no-repeat center/cover;
}

div.portfolio3{
    background: url(vlt.jpg) no-repeat center/cover;
}

div.portfolio4{
    background: url(forfait_tgcom.jpg) no-repeat center/cover;
}

div.frame{
    margin: 0;
    padding: 30px 20px;
}

div.frame_table{
    margin: 0;
    padding: 20px 15px;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}

div.frame_table h3{
    text-align: center;
    color: #656565;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    /* text-transform: uppercase; */
}

div.frame_table img{
    width: 90px;
    border-radius: 50%;
}

div.frame_table p{
    margin: 0;
    padding: 20px 15px;
    color: #2f2f2f;
    font-size: 15px;
    background-color: #dcdbdb17;
    border-bottom: #D89584 solid 4px;
}

div.frame_table a{
    color: #ba3939;
}

div.social_network table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #2f2f2f72; */
}

div.social_network p{
    color: #838282;
    font-weight: bold;
    font-size: 15px;
}

div.social_network td{
    display: inline-block;
    padding: 8px 5px 0 5px;
    /* margin-bottom: 20px; */
}

div.social_network img{
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    margin: 0;
    transition-duration: 0.5s;
}

div.social_network img:hover{
    width: 50px;
}

#insta_img{
    width: 20px;
}

#insta_img:hover{
    width: 30px;
}


/* ____________PAGE PORTFOLIO_____________ */

div.header_portf{
    background: url(cover.png) no-repeat center/cover;
    position: relative;
}

div.header_portf .name{
    display: inline-block;
    height: 50px;
    border-left: var(--color1) solid 4px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 15px 0 75px 10px;
}

div.header_portf .name p{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

div.contact_by_wathsapp_portf{
    /* display: inline-block; */
    position: absolute;
    right: 10px;
    top: 50px;
}

/* bloc1 */

div.bloc1_portf{
    position: relative;
}

div.back_home{
    /* position: absolute; */
    display: inline-block;
    text-align: left;
    margin: 10px 0 0 -10px;
    border-left: var(--color1) solid 3px;
    border-top: var(--color1) solid 3px;
    padding-left: 15px;
    padding-right: 15px;
    /* transition-duration: 1s; */
}

div.back_home:hover{
    border-right: var(--color1) solid 3px;
    border-bottom: var(--color1) solid 3px;
}

div.back_home a{
    color: var(--color1);
    font-size: 14px;
    text-decoration: none;
}

div.bloc1_portf h1{
    font-size: 30px;
    margin-top: 30px;
}

div.portf_bloc_presentation{
    padding: 50px 0px;
}

div.portf_bloc_presentation .block{
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    box-shadow: 20px 15px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    background-color: rgba(239, 238, 238, 0.37);
}

div.block img{
    width: 100%;
}

div.block p{
    margin: 30px 20px;
}

div.block a{
    color: #ba3939;
    font-weight: bold;
}

div.bloc3_portf table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    /* background-color: #2f2f2f72; */
}

div.bloc3_portf td{
    display: inline-block;
    padding: 8px 5px 0 5px;
    width: 100px;
    transition-duration: 1s;
    /* margin-bottom: 20px; */
}

div.bloc3_portf img{
    display: inline-block;
    width:  100%;
    margin: 0;
    transition-duration: 1s;
}

div.bloc3_portf img:hover{
    width: 100%;
}

div.bloc3_portf td:hover{
    display: block;
    width: 100%;
    /* margin-right: 100px; */
}


@media only screen and (min-width: 768px){
    body *{
        transition-duration: 0.3s;
    }

    h1{
        font-size: 50px;
    }

    iframe{
        height: 700px;
    }

    div.contact_info *, div.contact *{
        color: white;
        font-size: 16px;
}


    div.cover img{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    div.contact_by_wathsapp *{
        font-size: 16px;
    }

    div.contact_by_wathsapp *:hover{
        font-size: 17px;
    }

    /* div.bloc3{
        padding: 150px 20px 0 0px;
    } */

    div.bloc1 *{
        font-size: 22px;
    }

    div.bloc2 h2.for_mobile{
        font-size: 0;
    }

    div.bloc2 h2.for_pc{
        /* min-width: 280px; */
        font-size: 40px;
    }

    div.img_topic .img_contain{
        display: inline-block;
        width: 40%;
    }

    div.img_topic .topic{
        width: 60%;
        float: right;
        text-align: center;
        padding: 0 20px 10px 50px;
        font-size: 18px;
    }

    .button{
        font-size: 18px;
    }

    .button:hover{
        font-size: 20px;
    }

    div.portfolio{
        display: inline-block;
        width: 40%;
        margin-bottom: 150px;
    }

    div.portfolio_describ{
        padding: 40px 50px 100px 50px;
    }  
    
    div.portfolio_describ_right{
        left: 20%;
    }

    div.portfolio_describ_right:hover{
        top: 25%;
        left: 10%;
    }
    
    div.portfolio2, div.portfolio4{
        margin-left: 100px;
    }

    div.frame{
        padding: 50px 100px;
    }

    div.frame_table{
        padding: 20px 50px;
    }

    div.frame_table h3{
        font-size: 30px;
    }

    div.frame_table p{
        font-size: 17px;
        border-bottom: none;
        background-color: rgba(255, 255, 255, 0);
        /* border-bottom: #D89584 solid 4px; */
    }

    div.social_network p{
        font-size: 20px;
    }

    div.social_network td{
        padding: 8px 30px 0 30px;
    }

    div.social_network img{
        width: 60px;
    }

    div.social_network img:hover{
        width: 80px;
    }
    
    #insta_img{
        width: 30px;
    }
    
    #insta_img:hover{
        width: 44px;
    }

    /* _________page portfolio */

    div.header_portf .name{
        margin: 15px 0 15px 10px;
    }
    
    div.contact_by_wathsapp_portf{
        top: -15px;
    }

    div.back_home a{
        font-size: 16px;
    }

    div.bloc1_portf h1{
        font-size: 40px;
        margin-top: 10px;
    }

    div.portf_bloc_presentation{
        padding: 50px 100px;
    }

    div.portf_bloc_presentation .block{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    div.block p{
        margin: 30px 50px;
    }

    div.bloc3_portf img:hover{
        width: 400%;
    }

    div.bloc3_portf td:hover{
        display: inline-block;
        width: 100px;
        margin-right: 300px;
    }

    div.frame_table img{
        width: 130px;
        margin-right: 100px;
    }

}


@media only screen and (min-width: 1025px){

    iframe{
        height: 550px;
    }
    
    div.bloc3{
        padding: 150px 20px 0 20px;
    }
    
    div.portfolio2, div.portfolio4{
        margin-left: 140px;
    }

    div.portfolio{
        border-radius: 10px;
    }
}